@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*:before, *:after
{
    box-sizing: border-box;
}
*
{
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
}
html,body
{
    width: 100%;
    position: relative;
}
body
{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Source Code Pro', monospace;
    background: linear-gradient(90deg, hsla(196, 93%, 12%, 1) 0%, hsla(190, 64%, 34%, 1) 100%);
}
.container
{
    position: relative;
    width: 1500px;
    height: 900px;
    background-color: transparent;
    background-attachment: fixed;
    background-size: cover;
}
.nav
{
    position: relative;
    padding: 15px;
}
.nav ul
{
    position: relative;
    text-align: center;
}
.nav ul li
{
    position: relative;
    list-style-type: none;
    display: inline-block;
}
.nav ul li a
{
    position: relative;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 20px;
    font-weight: bold;
    transition: all 500Ms ease-in-out;
}
.nav ul li a.logo
{
    font-weight: 900;
    font-style: 2rem;
}
.nav ul li a:before
{
    content: '';
    width: 100%;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(45deg, #1F7A8C, #BFDBF7);
    opacity: 0;
    transition: all 500Ms ease-in-out;
}
.nav ul li a:hover:before,
.nav ul li a.active:before
{
    opacity: 1;
}
.content-box
{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 0 50px;
}
.img-box
{
    position: relative;
}
.img-box img
{
    width: 1000px;
    height: 100%;
}
.heading
{
    font-size: 5.5vh;
    font-weight: 900;
    border-left: 10px solid #BFDBF7;
    padding: 0 15px;
}
.text
{
    padding: 15px 30px;
    letter-spacing: 1.2px;
    font-weight: 500;
    line-height: 1.5rem;
}